* {
    box-sizing: border-box;
}


/* TYPOGRAPY */

@font-face {
    font-family: holtwood;
    src: url(/fonts/holtwood/HoltwoodOneSC-Regular.ttf);
}


/* BASIC */

body {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    font-size: 1rem;
}


/* HELPER */


/* .main-layout {
    max-width: 100%;
    margin: 0 auto;
} */

.hide {
    display: none;
}

.impact {
    font-family: impact;
}

.verdana {
    font-family: Verdana;
}

.georgia {
    font-family: Georgia;
}

.times {
    font-family: Times;
}

.arial {
    font-family: Arial;
}


/* HEADER */

.main-header {
    background-color: #ff7f00;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    font-family: holtwood;
    color: white;
    font-size: 20px;
}

.btn-menu {
    background-color: #29292900;
    color: white;
    border: none;
    padding: 3.3rem 0;
    font-size: 2rem;
    cursor: pointer;
}


/* .main-nav {
    display: flex;
    opacity: 0;
} */

.main-nav {
    flex-direction: column;
    position: fixed;
    top: 79px;
    right: 0;
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    z-index: 999;
    opacity: 0;
}

.main-nav a {
    font-size: 14px;
    font-weight: 700;
    background-color: #ff8000c5;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 1em 10em;
}

.main-nav-open {
    z-index: 999;
    opacity: 1;
    transition: 0.6s;
}


/* .main-nav a {
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    padding: 20px;
} */

.main-nav a:hover {
    border-bottom: 2px solid black;
    color: black;
    font-weight: 700;
}


/* MAIN */

.main-container {
    padding: 20px 0;
}


/* MAIN-GALLERY */

.srearch-container {
    display: inline-flex;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 180px;
    justify-content: space-between;
}

.srearch-container img {
    height: 20px;
    width: 20px;
}

.search-keyword {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 150px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(140px, 1fr);
    gap: 20px;
}

.img-container img {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    width: 100%;
}


/* MAIM-CANVAS */

.canvas-container {
    display: flex;
    flex-direction: column;
}

.canva-aditor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    /* padding: 200px 0; */
}

.canva-aditor>* .img-btn {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.canva-aditor>* {
    margin-bottom: 10px;
}

.text-top {
    height: 40px;
    width: 255px;
}

.text-bottom {
    height: 40px;
    width: 255px;
    opacity: 0;
    transition: 0.6s;
}

.buttons-container3 {
    display: flex;
    align-items: flex-end;
}

.buttons-container3>* {
    margin-left: 5px;
}

.fonts {
    height: 30px;
    width: 200px;
}

.btn {
    /* font-family: 'Permanent Marker', cursive; */
    font-family: Verdana;
    background: #ff7f00;
    border: 1px solid #ff7f00;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    user-select: none;
    /* white-space: nowrap; */
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
}

.inputs {
    display: flex;
}

.share-container {
    display: flex;
}

.user-msg {
    position: fixed;
    height: 150px;
    width: 360px;
    top: 100px;
    left: 20px;
    font-size: 20px;
    opacity: 0;
}

.share {
    background-color: rgb(255, 72, 0);
    border-color: rgb(255, 72, 0);
    color: white;
}


/* MAIN-MY MAMES */


/* FOOTER */

.main-footer {
    background-color: #ff7f00;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
}

.main-footer .logo {
    padding-bottom: 10px;
}


/* RESPONSIVITY */


/* SMALL */

@media (min-width: 600px) {
    .main-layout {
        max-width: 560px;
        margin: 0 auto;
    }
}


/* MEDIUM */

@media (min-width: 840px) {
    .main-layout {
        max-width: 800px;
        margin: 0 auto;
    }
    .btn-menu {
        display: none;
    }
    .main-nav {
        opacity: 1;
        flex-direction: row;
        position: static;
        margin: 0;
        padding: 0;
        opacity: 1;
        z-index: 999;
        border: none;
    }
    .main-nav a {
        text-decoration: none;
        color: white;
        /* border-right: 1px solid white; */
        border: none;
        border-radius: 0;
        padding: 0;
        margin-bottom: 0;
        height: 79px;
        width: 100px;
        text-align: center;
        padding-top: 30px;
        font-size: 1rem;
    }
    /* .main-nav>*:not(:last-child) {
        border-right: 1px solid white;
        border-h
    } */
    .img-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(140px, 1fr);
    }
    .canvas-container {
        flex-direction: row;
        padding: 10px 0;
    }
    .canva-aditor {
        padding-left: 15px;
    }
}


/* LARGE */

@media (min-width: 1020px) {
    .main-layout {
        max-width: 980px;
        margin: 0 auto;
    }
    .img-container {
        grid-template-columns: repeat(5, 180px);
        grid-auto-rows: minmax(140px, 1fr);
    }
}