* {
    box-sizing: border-box;
}


/* TYPOGRAPY */


/* BASIC */

body {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* HELPER */

.main-layout {
    max-width: 980px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.impact {
    font-family: impact;
}

.verdana {
    font-family: Verdana;
}

.georgia {
    font-family: Georgia;
}

.times {
    font-family: Times;
}

.arial {
    font-family: Arial;
}

.color-input {
    opacity: 0;
    height: 100%;
    width: 100%;
}


/* HEADER */

.main-header {
    background-color: #ff7f00;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
}

.main-nav a {
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    padding: 20px;
}

.main-nav>*:not(:last-child) {
    border-right: 1px solid white;
}

.main-nav a:hover {
    border-bottom: 2px solid black;
    color: black;
    font-weight: 700;
}


/* MAIN */

.main-container {
    padding: 20px 0;
}


/* MAIN-GALLERY */

.srearch-container {
    display: inline-flex;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin-bottom: 10px;
}

.srearch-container img {
    height: 20px;
    width: 20px;
}

.search-keyword {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 150px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-auto-rows: minmax(140px, 1fr);
    gap: 20px;
}

.img-container img {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    width: 100%;
}


/* MAIM-CANVAS */

.canvas-container {
    display: flex;
}

.canva-aditor {
    flex-grow: 1;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
    /* max-width: 80%; */
}

.canva-aditor>* .img-btn {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.canva-aditor>* {
    margin-bottom: 10px;
}

.text-meme {
    height: 20px;
    width: 180px;
}

.buttons-container3 {
    display: flex;
    align-items: flex-end;
}

.buttons-container3>* {
    margin-left: 5px;
}

.fonts {
    height: 30px;
    width: 200px;
}

.btn {
    font-family: 'Permanent Marker', cursive;
    background: #ff7f00;
    border: 1px solid #ff7f00;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    user-select: none;
    /* white-space: nowrap; */
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.inputs {
    display: flex;
}

.share-container {
    display: flex;
}

.user-msg {
    position: fixed;
    height: 150px;
    width: 360px;
    top: 100px;
    left: 20px;
    font-size: 20px;
}

.share {
    background-color: rgb(255, 72, 0);
    border-color: rgb(255, 72, 0);
    color: white;
}


/* MAIN-MY MAMES */


/* FOOTER */

.main-footer {
    background-color: #ff7f00;
}


/* RESPONSIVITY */